body {
    font-family: Rubik, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
div {
}
#container {
}
#topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
h1 {
    padding-left: 75px;

}
#mi {
    color: red;
    font-size: larger;
}
#health {
    color: rgb(75, 194, 127);
    font-size: larger;
}
ul {
    display: flex;
    padding-right: 45px;
}
li {
    display: inline;
    padding: 0 40px;
}
a {
    text-decoration: none;
    color: black;
}
#content {
    padding: 75px;
    display: flex;
    justify-content: space-between;
    background-image: url(images/moroccan-flower.png);
    background-repeat: repeat; 
    /* background-color: rgb(228, 228, 228);*/
    align-content: stretch;
    height: 400px;
    
}
.allpics {
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
    display: flex;

}
.boxe {
    margin: 10px ;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
}
.picture {
   
}

#words {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    
}
.arrow {
}
h2 {
    font-size: 60px;
    margin: 2px 0 0 0;
    padding: 0 40px 0 0; 
    font-weight: bold;
}
p {
    padding: 0;
    margin: 0;
    font-size: larger;
}
button {
    text-align: start;
    font-size: larger;
    border: none;
    background: inherit
}
.white, .green {
    padding: 10px 20px;
    text-align: end;

}
.white {
    background-color: white;
    width: 35%;
}
.green {
    background-color: rgb(75, 194, 127);
    width: 50%;

}

#rice {
    background-image: url(images/apple-breakfast-quinoa-7.jpg);
}
#pasta {
    background-image: url(images/pasta-salad-recipe-for-lunch.jpg);
}
#shrimp {
    background-image: url(images/shrimp.jpg);
}